@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  cursor: url('/dc.png'), auto !important;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
}

::selection{
  background: var(--primary);
  color: aliceblue;
}

#skillsCardPlace::-webkit-scrollbar{
  display: none;
}